
@value status1C: #F7BC30;
@value status2C: #FB5607;
@value status3C: #FF006E;
@value status4C: #3A86FF;


.wrapperStyle {
    border: 1px solid black;
    padding: 2vh;
    font-size: 0.8rem;
    cursor: default;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    border-radius: 2vh;
}


.name {
    display: block;
    font-weight: bold;
}

.status1 {
    border-color: status1C;
    composes: wrapperStyle;
}

.status2 {
    border-color: status2C;
    composes: wrapperStyle;
}

.status3 {
    border-color: status3C;
    composes: wrapperStyle;
}

.status4 {
    border-color: status4C;
    composes: wrapperStyle;
}




.top {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: max-content max-content 1fr
}

.middle {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    gap: 1vh;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.date {
    justify-self: end;
    color: #212529;
}
.employee > img {
    height: 3vh;
}

.description {
    font-size: 0.8rem;
}


.comments {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comments > img {
    height: 2vh;
}
.commentsNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.4vh;
    font-size: 0.7rem;

}