

.taskFormWrapper {
    background-color: #FBF9FFA6;
    border: 0.3px solid #DDD2FF;
}

.taskFormWrapper fieldset {
    border: none;
}


.taskFieldset input, .taskFormWrapper textarea, .taskFieldset select {
    border: 1px solid #DEE2E6;
    font-family: inherit;
    display: block;
    width: 100%;
    height: 30px;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: content-box;
    padding: 0 3px;
    margin-top: 5px;
}


.taskFieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 100px;
    padding: 40px 100px 0 100px;
    height: 70vh;
    grid-template-rows: min-content min-content min-content;
    
}

.selectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    
}

.descriptionContainer textarea {
    height: 150px;
}

.statusContainer, .prioritiesContainer {
    width: 100%;
}

.employeeContainer {
    grid-area: 2 / 2 / 3 / 3;
}



.dateContainer {
    display: flex;
    flex-direction: column;
}
.dateContainer input {
    width: 50%;
}
.submitButton {
    margin-top: 80px;
    align-self: end;
    padding: 10px;
    width: 40%;
    background-color: #8338EC;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.generalInputField {
    margin-top: 5px;
    width: 100%;
}   

.descriptionHints, .titleHints {
    font-size: 0.6rem;
    color: #6C757D;
    font-weight: 500;
}

.green {
    color: rgb(29, 214, 29);
}

.red {
    color: red;
}



